<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{ recipe_data.first.rezept.name }}</h1>
<h3>{{ recipe_data.first.rezept.beschreibung }}</h3>
<table>
    {% for k in keys %}
        <th>{{k}}</th>
    {% endfor %}

    {% for e in recipe_data %}
  <tr>
      {% for k in keys %}
        <td>{{e.zutat}}</td>
      {% endfor %}
  </tr>


{% endfor %}
</table>

{% for k in keys %}
<p>{{k}}</p>
{% endfor %}
</body>
</html>
