{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/recipe/{{ question.id }}/">{{ question.name }}</a></li>
        {% load static %}
        <a href="/recipe/{{ question.id }}/"><img src="{% static '' %}{{question.name}}.jpg" alt="Bild {{question.name}}.jpg lädt nicht" width="100" height="100"></a>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
